body {
    margin: 0;
    padding: 0;
    min-height: 75rem;
}

.layoutPreview .modal-dialog {
    min-width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.layoutPreview .modal-dialog .modal-content {
    height: 100%;
    min-height: 100%;
    height: auto;
    border-radius: 0;
}
.layoutPreview .modal-dialog .modal-content .modal-body{
    overflow: scroll;
}
.templates-grid{
    list-style: none;
    margin: 0;
    padding: 0;
}
.templates-grid li{
    margin: 5px;
    display: inline-block;
}
#formLayoutGrid .title{
    font-weight: bold;
}

#formLayoutGrid form .form-group{
    margin: 0;
}